cached_property==1.5.2
kornia==0.5.7
librosa==0.8.0
numpy==1.22.0
pytorch-lightning==1.3.8
vit_pytorch==0.16.4
scipy==1.6.2
torch==1.9.0
torchaudio==0.9.0
torchtext==0.10.0
torchvision==0.10.0
torchlibrosa==0.0.9
tqdm==4.60.0
scikit-learn==0.24.2
